{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SS Entry Importer plugin for Craft CMS 3.x
 *
 * SS Entry Importer index.twig
 *
 * @author    SystemSeeders
 * @copyright Copyright (c) 2019 SystemSeeders
 * @link      http://www.systemseeders.com/
 * @package   SsEntryImporter
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ssplugin\\ssentryimporter\\assetbundles\\ssentryimporter\\SsEntryImporterAsset") %}
{% do view.registerAssetBundle("ssplugin\\ssentryimporter\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "SS Entry Importer" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ss-entry-importer') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ssplugin/ssentryimporter/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('ss-entry-importer') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('ss-entry-importer') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
